# 구름 3유형 타이타닉

In [ ]:
import seaborn as sns
df=sns.load_dataset('titanic')

##① Gender와 Survived 변수 간의 독립성 검정을 실시하였을 때, 카이제곱 통계량은? <br>(반올림하여 소수 셋째 자리까지 계산)

In [ ]:
# 1번 카이제곱 통계량 (독립성 검정 -> chi2_contingency)
import pandas as pd
import numpy as np
import scipy.stats
from scipy.stats import chi2_contingency
df1 = pd.crosstab(df['sex'], df['survived'])
statistic, pvalue, dof, expected = chi2_contingency(df1)
print(round(chi2_contingency(df1)[0], 3))
# 공식문서상에 : statistic(통계량), pvalue, dof(자유도), expected_freq(기대빈도)

print(np.round(statistic, 3))

260.717
260.717

##  ② Gender, SibSp, Parch, Fare를 독립변수로 사용하여 로지스틱 회귀모형을 실시하였을 때, Parch 변수의 계수값은? (반올림하여 소수 셋째 자리까지 계산)

In [ ]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
import pandas as pd
from statsmodels.formula.api import logit
import seaborn as sns

df = sns.load_dataset('titanic')
formula = "survived ~ C(sex) + sibsp + parch + fare"
model = logit(formula, data = df).fit()
print(model.params)
print(round(model.params, 3))

Optimization terminated successfully.
         Current function value: 0.482065
         Iterations 6
Intercept         0.946635
C(sex)[T.male]   -2.642219
sibsp            -0.353892
parch            -0.200724
fare              0.014685
dtype: float64
Intercept         0.947
C(sex)[T.male]   -2.642
sibsp            -0.354
parch            -0.201
fare              0.015
dtype: float64

In [ ]:
import pandas as pd
from statsmodels.formula.api import logit
import seaborn as sns

df=sns.load_dataset('titanic')
formula = "survived ~ C(sex) + sibsp + parch + fare"
model = logit(formula, data=df).fit()
print(model.params)
print(round(model.params['parch'], 3))

Optimization terminated successfully.
         Current function value: 0.482065
         Iterations 6
Intercept         0.946635
C(sex)[T.male]   -2.642219
sibsp            -0.353892
parch            -0.200724
fare              0.014685
dtype: float64
-0.201

##  ③ 위 ②번 문제에서 추정된 로지스틱 회귀모형에서 SibSp 변수가 한 단위 증가할 때 생존할 오즈비(Odds ratio) 값은? (반올림하여 소수 셋째 자리까지 계산)

In [ ]:
# SibSp 변수가 한 단위 증가할 때의 오즈비 계산
odds_ratio = np.exp(model.params['sibsp'])
print(np.round(odds_ratio, 3))

0.702

# 구름 환경에 맞춘 코드

In [ ]:
import pandas as pd

df = pd.read_csv("data/Titanic.csv")

# 사용자 코딩

# 1번 카이제곱 통계량 (독립성 검정 -> chi2_contingency)
import pandas as pd
import numpy as np
import scipy.stats
from scipy.stats import chi2_contingency
df1 = pd.crosstab(df['Gender'], df['Survived'])
statistic, pvalue, dof, expected = chi2_contingency(df1)
# print(round(chi2_contingency(df1)[0], 3))
# 공식문서상에 : statistic(통계량), pvalue, dof(자유도), expected_freq(기대빈도)
print(np.round(statistic, 3))

# 2번
import pandas as pd
from statsmodels.formula.api import logit

formula = "Survived ~ C(Gender) + SibSp + Parch + Fare"
model = logit(formula, data=df).fit()
# print(model.params)
print(round(model.params['Parch'], 3))

# 3번
# SibSp 변수가 한 단위 증가할 때의 오즈비 계산
odds_ratio = np.exp(model.params['SibSp'])
print(np.round(odds_ratio, 3))


# 해당 화면에서는 제출하지 않으며, 문제 풀이 후 답안제출에서 결괏값 제출