In [ ]:
# 데이터 불러오기
import pandas as pd
import numpy as np
df = pd.read_csv('/content/mtcars.csv')
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
# 문제 1
# mpg 변수의 제 1 사분위수를 구하고 정수값으로 출력
Q1 = df['mpg'].quantile(0.25)
print(round(Q1))

15

In [ ]:
# 문제 2
# mpg 값이 19이상 21이하인 데이터의 수를 구하시오

print(len(df[(df['mpg']>=19) & (df['mpg']<=21)]))

5

In [ ]:
# 문제 3
# hp 변수의 IQR 값을 구하시오

Q1 = df['hp'].quantile(0.25)
Q3 = df['hp'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

83.5

In [ ]:
# 문제 4
# wt 변수의 상위 10개 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오.
top10 = df.sort_values('wt', ascending=False) # 내림차순 : ascending=False
sum_top10 = sum(top10['wt'].head(10)) # 상위 10개만 더함
print(int(sum_top10))

42

In [ ]:
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
# 문제 5
# 전체 자동차에서 cyl가 6인 비율이 얼마인지 반올림하여 소수점 첫째자리까지 출력하시오.
cyl_6 = len(df[df['cyl'] == 6])
cyl_total = len(df)
print(cyl_6)
print(cyl_total)
print(round(cyl_6/cyl_total, 1))

7
32
0.2

In [ ]:
# 문제 6
# 첫번째 행부터 순서대로 10개 뽑은 후, mpg 열의 평균값을 반올림하여 정수로 출력하시오.

df10 = df.head(10)
mpg_mean = df10['mpg'].mean()
print(round(mpg_mean))

20

In [ ]:
# 문제 7
# 첫번째 행부터 순서대로 50%까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오.

p50 = int(len(df)*0.5)
df50 = df[:p50]
print(df50['wt'].median())

3.44

In [ ]:
# 문제 8
# 결측값이 있는 데이터의 수를 출력하시오.
# 데이터 생성(수정금지)
df = pd.DataFrame({
'날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
'제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

print(sum(df.isnull().sum()))

5

In [ ]:
# 문제 9
# '판매수' 컬럼의 결측값을 판매수의 중앙값으로 대체하고, 판매수의 평균값을 반올림하여 정수로 출력하시오.
# 데이터 생성(수정금지)

df = pd.DataFrame({
'날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
'제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

Q2 = df['판매수'].median()
df['판매수'] = df['판매수'].fillna(Q2)
mean = df['판매수'].mean()
print(round(mean))

15

In [ ]:
# 문제 10
# 판매수 컬럼에 결측치가 있는 행을 제거하고,
# 첫번째 행부터 순서대로 50%까지의 데이터를 추출하여
# 판매수 변수의 Q1(제1사분위수)값을 반올림하여 정수로 출력하시오.
# 데이터 (수정금지)
df = pd.DataFrame({
'날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
'제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df = df['판매수'].dropna()

p50 = int(len(df)*0.5)
df = df[:p50]
print(round(df.quantile(0.25)))

5

In [ ]:
# 문제 11
# cyl가 4인 자동차와 6인 자동차 그룹의 mpg 평균값 차이를, 절대값으로 반올림하여 정수로 출력하시오.

df = pd.read_csv('/content/mtcars.csv')

cyl_4 = (df['cyl'] == 4)
cyl_6 = (df['cyl'] == 6)
mpg_4_mean = df[cyl_4]['mpg'].mean()
mpg_6_mean = df[cyl_6]['mpg'].mean()
print(round(abs(mpg_4_mean-mpg_6_mean)))

7

In [ ]:
# 문제 12
# hp 변수에 대해 데이터표준화(Z-score)를 진행하고 이상치의 수를 구하시오.
# (단, 이상치는 Z값이 1.5를 초과하거나 -1.5 미만인 값이다)

df = pd.read_csv('/content/mtcars.csv')

hp_mean = df['hp'].mean()
hp_std = df['hp'].std()
df['zscore'] = (df['hp'] - hp_mean) / hp_std

cond1 = (df['zscore']>1.5)
cond2 = (df['zscore']<-1.5)
print(len(df[cond1]) + len(df[cond2]))

2

In [ ]:
# 문제 13
# mpg 컬럼을 최소최대 Scaling을 진행한 후 0.7보다 큰 값을 가지는 레코드 수를 구하라.
import sklearn
from sklearn.preprocessing import MinMaxScaler

mscaler = MinMaxScaler()

df['mpg'] = mscaler.fit_transform(df[['mpg']])
print(len(df[df['mpg']>0.7]))

5

In [ ]:
# 문제 14
# wt컬럼에 대해 상자그림 기준으로 이상치의 개수를 구하시오.
# 박스플롯 -> quantile

Q1 = df['wt'].quantile(0.25)
Q3 = df['wt'].quantile(0.75)
IQR = Q3 - Q1

upper = Q3 + 1.5*IQR
lower = Q1 - 1.5*IQR

cond1 = (df['wt']>upper)
cond2 = (df['wt']<lower)

print(len(df[cond1]) + len(df[cond2]))

3

In [ ]:
# 문제 15
# 판매수 컬럼의 결측치를 최소값으로 대체하고
# 결측치가 있을 때와 최소값으로 대체했을 때 평균값의 차이를 절대값으로 반올림하여 정수로 출력하시오
# 데이터 생성 (수정금지)
df = pd.DataFrame({
'날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
'제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df2 = df.copy()

min_data = df['판매수'].min()
df2['판매수'] = df2['판매수'].fillna(min_data)

# print(df2['판매수'])

# 결측치가 있을때 평균
mean1 = df['판매수'].mean()

# 결측치를 최소값으로 대체했을때 평균
mean2 = df2['판매수'].mean()

print(round(abs(mean1 - mean2)))

2

In [ ]:
# 문제 16
# vs변수가 0이 아닌 차량 중에 mpg 값이 가장 큰 차량의 hp 값을 출력하시오.

df = pd.read_csv('/content/mtcars.csv')

# vs 변수가 0이 아닌 차량
df = df[df['vs'] != 0]

# mpg가 가장 큰 순 -> 내림차순 ascending=False
df = df.sort_values('mpg', ascending=False)

print(df['hp'].iloc[0])

65

In [ ]:
# 문제 17
# gear 변수값이 3, 4인 두 그룹의 hp 표준편차값의 차이를 절대값으로
# 반올림하여 소수점 첫째자리까지 출력하시오.

df = pd.read_csv('/content/mtcars.csv')

# gear = 3 일 때 표준편차

gear_3 = df[df['gear']==3]
std_3 = gear_3['hp'].std()

# gear = 4 일 때 표준편차
gear_4 = df[df['gear']==4]
std_4 = gear_4['hp'].std()

print(round(abs(std_4 - std_3), 1))

21.8

In [ ]:
# 문제 18
# gear 변수의 값별로 그룹화하여 mpg평균값을 산출하고
# 평균값이 높은 그룹의 mpg 제3사분위수 값을 구하시오.

# gear, mpg 변수만 필터링
df = df.loc[:, ['gear', 'mpg']]

# gear 그룹화 groupby하여 mpg평균 값 프린트
# print(df.groupby('gear').mean()) # gear==4 일 때 평균값이 제일 높다

# gear==4인 그룹의 mpg Q3 값을 구한다
gear4 = df[df['gear']==4]
print(gear4['mpg'].quantile(0.75))

28.075

In [ ]:
# 문제 19
# hp 항목의 상위 7번째 값으로 상위 7개 값을 변환한 후,
# hp가 150 이상인 데이터를 추출하여 hp의 평균값을 반올림하여 정수로 출력하시오.
df = pd.read_csv('/content/mtcars.csv')

# hp 내림차순
df = df.sort_values('hp', ascending=False)
# 정렬 후 인덱스 초기화
df = df.reset_index(drop=True) # drop=True 는 기존 인덱스 삭제

# 상위 7번째 값
top7 = df['hp'].loc[6]

# np.where
import numpy as np
df['hp'] = np.where(df['hp'] >= top7, top7, df['hp'])
# np.where(조건, 조건에 해당할 때 값, 그렇지 않을 때 값)

# hp 150이상인 데이터
cond1 = (df['hp'] >= 150)
df = df[cond1]
print(round(df['hp'].mean()))

187

In [ ]:
# 문제 20
# car변수에 Merc 문구가 포함된 자동차의 mpg 평균값을 반올림하여 정수로 출력하시오.

df2 = df[df['car'].str.contains("Merc")] # 문자열 추출
print(round(df2['mpg'].mean()))


# 시험환경에서서 답구하는 방법(reset_index() 사용후)
# df = df.reset_index()
# df2 = df [ df['index'].str.contains("Merc") ] # 문자열 추출 알아두기
# print(round(df2['mpg'].mean()) )

16

In [ ]:
# 문제 21
# '22년 1분기 매출액을 구하시오
# (매출액 = 판매수*개당수익)
# 데이터 생성(수정금지)
df = pd.DataFrame({
'날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
'제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]})

# 데이터 타입 datetime으로 변경
df['날짜'] = pd.to_datetime(df['날짜'])
# print(df.head())

# 매출액 변수 추가하기
df['매출액'] = df['판매수'] * df['개당수익']

# 날짜 자체를 필터링 : df['변수'].between( , )
df_after = df[df['날짜'].between('2022-01-01', '2022-03-31')]

print(df_after['매출액'].sum())

11900

In [ ]:
# 문제 22
# '22년과 '23년의 총 매출액 차이를 절대값으로 구하시오.
# (매출액 = 판매수*개당수익)
# 데이터 생성(수정금지)

df = pd.DataFrame({
'날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
'제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]})

df.head()

df['날짜'] = pd.to_datetime(df['날짜'])

df['year'] = df['날짜'].dt.year

df['매출액'] = df['판매수'] * df['개당수익']

df22 = df[df['year'] == 2022]
df23 = df[df['year'] == 2023]

df22_sum = df22['매출액'].sum()
df23_sum = df23['매출액'].sum()

print(abs(df22_sum - df23_sum))

48600

In [ ]:
# 문제 23
# '23년 총 매출액이 큰 제품의 23년 판매수를 구하시오.
# (매출액 = 판매수*개당수익)
# 데이터 생성(수정금지)
df = pd.DataFrame({
'날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
'제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]})

df.head()

df['날짜'] = pd.to_datetime(df['날짜'])

df['year'] = df['날짜'].dt.year

# 매출액 변수 추가
df['매출액'] = df['판매수'] * df['개당수익']

# 2023년으로 필터링
df = df[df['year'] == 2023]

# A, B 상품 매출액 별도로 구하기

df_a = df[df['제품'] == 'A']
a_sales = df_a['매출액'].sum()
# print(a_sales)

df_b = df[df['제품'] == 'B']
b_sales = df_b['매출액'].sum()
# print(b_sales)

a_sum = df_a['판매수'].sum()
print(a_sum)

80

In [ ]:
# 문제 24
# 매출액이 4천원 초과, 1만원 미만인 데이터 수를 출력하시오.
# (매출액 = 판매수*개당수익)
# 데이터 생성(수정금지)
df = pd.DataFrame({
'날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
'제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600]})
df.head()

df['매출액'] = df['판매수'] * df['개당수익']
cond1 = df['매출액']>4000
cond2 = df['매출액']<10000

print(len(df[cond1 & cond2]))

4

In [ ]:
# 문제 25
# 23년 9월 24일 16:00~22:00 사이에 전체 제품의 판매수를 구하시오.
# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
'물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
'판매수': [5, 10, 15, 15, 20, 25, 40],
'개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]
df

# 항상 df.info()로 데이터 타입 확인할 것 -> 데이터 타입 datetime으로 변경
df['time'] = pd.to_datetime(df['time'])

# index 새로 지정
df = df.set_index('time', drop=False)

# 9월 24일 16:00~22:00 필터링 between( , )
df = df[df['time'].between('2023-09-24 16:00:00', '2023-09-24 22:00:00')]

print(df['판매수'].sum())

25

In [ ]:
# 문제 26
# 9월 25일 00:00~12:00 까지의 B물품의 매출액 총합을 구하시오.
# (매출액 = 판매수*개당수익)
# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
'물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
'판매수': [5, 10, 15, 15, 20, 25, 40],
'개당수익': [500, 600, 500, 600, 600, 700, 600] } )
df['time'] = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df = df[ ['time','물품','판매수','개당수익'] ]
df = df.set_index('time', drop=True)

# 매출액 변수 추가
df['매출액'] = df['판매수']*df['개당수익']

# time 변수 추가하기, index 초기화 (인덱스를 컬럼으로)
df = df.reset_index() # 디폴트 drop=False, reset_index() 안 할 경우 time 컬럼이 없어서 아래 에러뜸

# 데이터 타입 datetime 으로 변경
df['time'] = pd.to_datetime(df['time'])
# 9월 25일 00:00:00 ~ 12:00:00 필터링 // df['변수'].between( , )
df = df [df['time'].between('2023-09-25 00:00:00', '2023-09-25 12:00:00')] # 형식 동일하게 날짜+시간
df
# B 물품의 매출액 총합
df = df[ df['물품']=='B']
print(df['매출액'].sum())

26500

In [ ]:
# 문제 27
# 9월 24일 12:00~24:00 까지의 A물품의 매출액 총합을 구하시오.
# (매출액 = 판매수*개당수익)
# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
'물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
'판매수': [5, 10, 15, 15, 20, 25, 40],
'개당수익': [500, 600, 500, 600, 600, 700, 600] } )
df['time'] = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df = df[ ['time','물품','판매수','개당수익'] ]
df = df.set_index('time', drop=True)

df['매출액'] = df['판매수'] * df['개당수익']
df = df.reset_index()

df['time'] = pd.to_datetime(df['time'])
df = df[df['time'].between('2023-09-24 12:00:00', '2023-09-25 00:00:00')]
df = df[df['물품'] == 'A']
print(df['매출액'].sum())

10000

# 제1유형 (풀이용)
제공된 데이터(data/mtcars.csv)의 qsec 칼럼을 최소-최대 척도(Min-Max Scale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 【제출 형식】에 맞춰 답안 작성 페이지에 입력하시오.


【제출 형식】
  ㉠ 정수(integer)로 입력
      (단, 소수점을 포함한 경우 소수점 첫째 자리에서 반올림하여 계산)
  ㉡ 정수 답안만 입력

In [ ]:
import pandas as pd

df = pd.read_csv('/content/mtcars.csv')

import sklearn.preprocessing
from sklearn.preprocessing import MinMaxScaler
mscaler = MinMaxScaler()
df['qsec'] = mscaler.fit_transform(df[['qsec']])
print(len(df[df['qsec']>0.5])) # 9 출력

9