# T1-1. 이상치를 찾아라(IQR활용)

In [2]:
"""
이상치를 찾아라
데이터에서 IQR을 활용해 Fare컬럼의 이상치를 찾고, 이상치 데이터의 여성 수를 구하시오

"""
# 라이브러리 및 데이터 불러오기
import pandas as pd

train = pd.read_csv('../Data/Titanic/train.csv')
test = pd.read_csv('../Data/Titanic/test.csv')

print(train)
print(test)

# 간단한 탐색적 데이터 분석(EDA)

print(train.shape, test.shape)
print(train.info())
print(test.info())
print(train.isnull().sum())
print(train.head())

# IQR 구하기 / Fare컬럼의 이상치를 구할거니깐 ['Fare']컬럼을 보자

Q1 = train['Fare'].quantile(.25)
Q3 = train['Fare'].quantile(.75)

IQR = Q3 - Q1
print(Q1 - 1.5*IQR)
print(Q3 + 1.5*IQR)

# 이상치 데이터 구하기
data1 = train[train['Fare'] < (Q1 - 1.5*IQR)]
data2 = train[train['Fare'] > (Q3 + 1.5*IQR)]
print(len(data1), len(data2))

# 이상치 데이터에서 여성 수 구하기, 출력하기 print()

print(sum(data2['Sex'] == 'female'))

     PassengerId  Survived  Pclass
0              1         0       3  \
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp
0                              Braund, Mr. Owen Harris    male  22.0      1  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
     PassengerId  Pclass                                          Name
0            892       3                              Kelly, Mr. James  \
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
413         1305       3                            Spector, Mr. Woolf
414         1306       1                  Oliva y Ocana, Dona. Fermina
415         1307       3                  Saether, Mr. Simon Sivertsen
416         1308       3                           Ware, Mr. Frederick
417         1309       3                      Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked
0      male  34.5      0      0              330911    7.8292   NaN        Q
1    female  47.0      1      0              363272    7.0000   NaN        S
2      male  62.0      0      0              240276    9.6875   NaN        Q
3      male  27.0      0      0              315154    8.6625   NaN        S
4    female  22.0      1      1             3101298   12.2875   NaN        S
..      ...   ...    ...    ...                 ...       ...   ...      ...
413    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
414  female  39.0      0      0            PC 17758  108.9000  C105        C
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416    male   NaN      0      0              359309    8.0500   NaN        S
417    male   NaN      1      1                2668   22.3583   NaN        C

[418 rows x 11 columns]
(891, 12) (418, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
   PassengerId  Survived  Pclass
0            1         0       3  \
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp
0                            Braund, Mr. Owen Harris    male  22.0      1  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
-26.724
65.6344
0 116
70

# T1-2. 이상치를 찾아라(소수점 나이)

In [3]:
"""

이상치를 찾아라(소수점 나이)

주어진 데이터에서 이상치(소수점 나이)를 찾고 올림, 내림, 버림(절사)했을때 3가지 모두 이상치 'age' 평균을 구한 다음 모두 더하여 출력하시오

"""

# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../Data/T1-2/basic1.csv')
print(df)

# 소수점 데이터 찾기 (소수점 나이)
df = df[df['age'] - np.floor(df['age']) != 0] # 원래 값이랑 내림한 값이랑 0이면 그 값으 소수점이 아닌건데 0이 아닌건 그 값이 소수점이라는 뜻
print(df)

# 이상치를 포함한 데이터 올림, 내림, 버림의 평균값

m_ceil = np.ceil(df['age']).mean() # 올림의 평균값
m_floor = np.floor(df['age']).mean() # 내림의 평균값
m_trunc = np.trunc(df['age']).mean() # 버림의 평균값
print(m_ceil, m_floor, m_trunc)

# 평균값 더한 다음 출력
print(m_ceil + m_floor + m_trunc)

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]
      id   age city    f1  f2   f3    f4         f5
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378
8   id09   3.3   서울  35.0   2  NaN  ESFJ  17.252986
21  id22  -6.3   부산  72.0   1  NaN  ENFP  52.667078
28  id29 -13.5   부산  47.0   2  NaN  ENTP  67.886373
46  id47  34.6   대구  75.0   1  NaN  ESTJ  90.496999
64  id65  26.5   경기   NaN   0  NaN  ISFP  91.297791
84  id85  83.6   경기  55.0   0  NaN  INFJ  80.138280
92  id93  21.8   경기  57.0   0  NaN  ISFP  73.586397
23.75 22.75 23.0
69.5
       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]
      id   age city    f1  f2   f3    f4         f5
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378
8   id09   3.3   서울  35.0   2  NaN  ESFJ  17.252986
21  id22  -6.3   부산  72.0   1  NaN  ENFP  52.667078
28  id29 -13.5   부산  47.0   2  NaN  ENTP  67.886373
46  id47  34.6   대구  75.0   1  NaN  ESTJ  90.496999
64  id65  26.5   경기   NaN   0  NaN  ISFP  91.297791
84  id85  83.6   경기  55.0   0  NaN  INFJ  80.138280
92  id93  21.8   경기  57.0   0  NaN  ISFP  73.586397
23.75 22.75 23.0
69.5

# T1-3. 결측치 처리(map 활용)

In [4]:
"""
결측치 처리

주어진 데이터에서 결측치가 80%이상 되는 컬럼은(변수는) 삭제하고,
 80% 미만인 결측치가 있는 컬럼은 'city'별 중앙값으로 값을 대체하고 'f1'컬럼의 평균값을 출력하세요!

"""

# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../Data/T1-3/basic1.csv')
print(df.head())

# EDA - 결측값 확인(비율 확인) -> 비율 확인하려면 isnull().sum() / shape[0] 을 해주면 된다.
print(df.isnull().sum())
print(df.shape)

print((df.isnull().sum()) / df.shape[0]) # 결측비율 확인

# 80%이상 결측치 컬럼, 삭제 -> ['f3']컬럼이 95% 결측치니깐 해당 컬럼을 삭제해준다
print('삭제 전 :', df.shape)
df = df.drop(['f3'], axis=1)
print('삭제 후 :', df.shape)

# 80%미만 결측치 컬럼, city별 중앙값으로 대체 -> 80%미만인 컬럼이 ['f1'] / 중앙값이니깐 median
print(df['city'].unique())

s = df[df['city'] == '서울']['f1'].median()
b = df[df['city'] == '부산']['f1'].median()
d = df[df['city'] == '대구']['f1'].median()
g = df[df['city'] == '경기']['f1'].median()
print(s, b, d, g)

df['f1'] = df['f1'].fillna(df['city'].map({'서울':s, '부산':b, '대구':d, '경기':g})) # f1 컬럼의 결측치를 각각의 city 중앙값으로 대체(map을 사용)

# f1 평균값 결과 출력
print(df['f1'].mean())

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869
id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64
(100, 8)
id      0.00
age     0.00
city    0.00
f1      0.31
f2      0.00
f3      0.95
f4      0.00
f5      0.00
dtype: float64
삭제 전 : (100, 8)
삭제 후 : (100, 7)
['서울' '부산' '대구' '경기']
68.0 62.0 75.0 58.0
65.52

# T1-4. 왜도와 첨도 구하기 (로그스케일)

In [5]:
"""
왜도와 첨도 구하기

주어진 데이터 중 train.csv에서 'SalePrice'컬럼의 왜도와 첨도를 구한 값과,
 'SalePrice'컬럼을 스케일링(log1p)로 변환한 이후 왜도와 첨도를 구해 모두 더한 다음 소수점 2째자리까지 출력하시오

"""

# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../Data/T1-4/train.csv')
print(df.head())

# 'SalePrice'컬럼 왜도와 첨도계산
s1 = df['SalePrice'].skew() # 왜도 계상 df[].skew()
k1 = df['SalePrice'].kurt() # 첨도 계상 df[].kurt()
print('왜도 : ', s1)
print('첨도 :', k1)

# 'SalePrice'컬럼 로그변환

df['SalePrice'] = np.log1p((df['SalePrice']))

# 'SalePrice'컬럼 왜도와 첨도계산
s2 = df['SalePrice'].skew()
k2 = df['SalePrice'].kurt()
print('왜도 :', s2)
print('첨도 :', k2)

# 모두 더한 다음 출력

print(round(s1+s2+k1+k2, 2))

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape
0   1          60       RL         65.0     8450   Pave   NaN      Reg  \
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2  \
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9
3         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
4         Lvl    AllPub  ...        0    NaN   NaN         NaN       0     12

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500
3   2006        WD        Abnorml     140000
4   2008        WD         Normal     250000

[5 rows x 81 columns]
왜도 :  1.8828757597682129
첨도 : 6.536281860064529
왜도 : 0.12134661989685333
첨도 : 0.809519155707878
9.35

# T1-5. 조건에 맞는 데이터 표준편차 구하기

In [6]:
"""
조건에 맞는 데이터 표준편차 구하기

- 주어진 데이터 중 basic1.csv에서 'f4'컬럼 값이 'ENFJ'와 'INFP'인 'f1'의 표준편차 차이를 절대값으로 구하시오
- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

"""
import pandas as pd
import numpy as np

# 라이브러리 및 데이터 불러오기

df = pd.read_csv('../Data/T1-5/basic1.csv')
print(df.head())

# 조건에 맞는 데이터 (ENFJ, INFP)

df_ENFJ = df[df['f4'] == 'ENFJ']
df_INFP = df[df['f4'] == 'INFP']

print(df_ENFJ.head())

# 조건에 맞는 f1의 표준편차 (ENFJ, INFP) / 표준편차 std()

entj = df_ENFJ['f1'].std()
print(entj) # 17.727097901235837

infp = df_INFP['f1'].std() # 23.586719427112648
print(infp)

# 두 표준편차 차이 절대값 출력
print(np.abs(entj-infp)) # 5.859621525876811

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869
      id   age city    f1  f2   f3    f4         f5
0   id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1   id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
32  id33  47.0   부산  94.0   0  NaN  ENFJ  17.252986
40  id41  81.0   대구  55.0   0  NaN  ENFJ  37.113739
44  id45  97.0   대구  88.0   0  NaN  ENFJ  13.049921
17.727097901235837
23.586719427112648
5.859621525876811

# T1-6. 결측치 제거 및 그룹 합계

In [7]:
'''
결측치 제거 및 그룹 합계에서 조건에 맞는 값 찾아 출력
주어진 데이터 중 basic1.csv에서 'f1'컬럼 결측 데이터를 제거하고, 'city'와 'f2'을 기준으로 묶어 합계를 구하고, 'city가 경기이면서 f2가 0'인 조건에 만족하는 f1 값을 구하시오
'''
import pandas as pd
import numpy as np

df = pd.read_csv('../Data/T1-6.csv')

# f1컬럼 결측치 제거
df = df[~df['f1'].isnull()]

# 그룹 합계 계산
df2 = df.groupby(['city', 'f2']).sum()
df2
print(df2.iloc[0]['f1']) # 경기이면서 0인 f1값

833.0

# T1-7. 값 변경 및 2개 이상의 조건

In [8]:
'''
'f4'컬럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고,
'city'가 '경기'이면서 'f4'가 'ISFJ'인 데이터 중 'age'컬럼의 최대값을 출력하시오!

'''

import pandas as pd
import numpy as np

df = pd.read_csv('../Data/T1-7.csv')

# 값 변경하기
df['f4'] = df['f4'].replace('ESFJ', 'ISFJ')

# 'city'가 '경기'이면서 'f4'가 'ISFJ'인 데이터의 'age' 최대값
df[(df['f4'] == 'ISFJ') & (df['city'] == '경기')]['age'].max()

90.0

# T1-8. 누적합 그리고 보간

In [9]:
'''
주어진 데이터 셋에서 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합을 계산한다.
이때 발생하는 누적합 결측치는 바로 뒤의 값을 채우고,
누적합의 평균값을 출력한다. (단, 결측치 바로 뒤의 값이 없으면 다음에 나오는 값을 채워넣는다)
'''

import pandas as pd
import numpy as np

df = pd.read_csv('../Data/T1-8.csv')

# 'f1'컬럼 누적합 -> cumsum()을 사용하자
df2 = df[df['f2'] == 1]['f1'].cumsum()

# 결측치를 바로 뒤의 값으로 채운다 -> fillna.(method='bfill')
# fillna(method='ffill' or 'pad') 앞쪽 값으로 채우기
# fillna(method='bill' or 'backfill') 뒷쪽 값으로 채우기
df2 = df2.fillna(method='bfill')
df2

# 평균 출력
print(df2.mean())

980.3783783783783